.dropdownButton {
    text-align: center;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    color: black;
}

.Dropdown {
  text-align: center;
}

.dropdownButton:hover, .dropbtn:focus {
  background-color: #eeeeee;
}

.dropdownItems {
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  padding: 10px 65px;
  text-align: center;
  text-decoration: none;
  display: table-cell;
  font-size: 16px;
  display: block;
  margin: auto;
}

.dropdownItems:hover, .dropdownItems:focus {
    background-color: #eeeeee;
}
